In [1]:
import configparser
import boto3
import json
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

In [2]:

DWH_DB_USER       = config.get('CLUSTER','DB_USER')
DWH_DB_PASSWORD   = config.get('CLUSTER','DB_PASSWORD')
DWH_ENDPOINT      = config.get('CLUSTER','HOST')
DWH_PORT          = config.get('CLUSTER','DB_PORT')
DWH_DB            = config.get('CLUSTER','DB_NAME')
DWH_DB            = config.get('CLUSTER','DB_NAME')
ARN               = config.get("IAM_ROLE", "ARN")

In [3]:
%load_ext sql

In [4]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

# Practice Importing All The Tables

In [5]:
%%sql
select * from pg_catalog.pg_tables where schemaname='public';

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
7 rows affected.

[('public', 'staging_events', 'dwhuser', None, False, False, False),
 ('public', 'songplays', 'dwhuser', None, True, False, False),
 ('public', 'artists', 'dwhuser', None, True, False, False),
 ('public', 'time', 'dwhuser', None, True, False, False),
 ('public', 'songs', 'dwhuser', None, True, False, False),
 ('public', 'users', 'dwhuser', None, True, False, False),
 ('public', 'staging_songs', 'dwhuser', None, True, False, False)]

In [6]:
# Import all the SQL queries
from sql_queries import *

In [23]:
# Drop all the tables
for drop_query in drop_table_queries:
    print(drop_query)
    # %sql $drop_query

DROP TABLE  IF EXISTS staging_events;
DROP TABLE  IF EXISTS staging_songs;
DROP TABLE  IF EXISTS songplay;
DROP TABLE  IF EXISTS users;
DROP TABLE  IF EXISTS songs;
DROP TABLE  IF EXISTS artists;
DROP TABLE  IF EXISTS time;

In [8]:
%%sql
DROP TABLE  IF EXISTS staging_events;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [9]:
%%sql
DROP TABLE  IF EXISTS staging_songs;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [10]:
for table_create_query in create_table_queries:
    # print(table_create_query)
    %sql $table_create_query

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

In [19]:
## Now to input the JSON into a table from S3 into Redshift

# Specific Inputs

s3_insert_query_events = """
COPY staging_events FROM 's3://udacity-dend/log_data/2018/11/2018-11-05-events.json' 
iam_role '{}'
format as json 'auto ignorecase';""".format(ARN)
s3_insert_query_songs = """
COPY staging_songs FROM 's3://udacity-dend/song_data/A/B/Q/TRABQTA128F148D048.json' 
iam_role '{}'
format as json 'auto';""".format(ARN)

In [20]:
# All Data


# s3_insert_query_events = staging_events_copy
# s3_insert_query_songs  = staging_songs_copy

In [21]:
%sql $s3_insert_query_songs

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [22]:
%sql $s3_insert_query_events

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [23]:
%%sql
SELECT * FROM staging_events
LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(None, 'Logged Out', None, None, 0, None, None, 'free', None, 'PUT', 'Login', None, 52, None, 307, '1541207073796', None, None),
 (None, 'Logged In', 'Celeste', 'F', 1, 'Williams', None, 'free', 'Klamath Falls, OR', 'GET', 'Home', 1541077528796.0, 52, None, 200, '1541207123796', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53),
 ('Mynt', 'Logged In', 'Celeste', 'F', 2, 'Williams', 166.94812, 'free', 'Klamath Falls, OR', 'PUT', 'NextSong', 1541077528796.0, 52, 'Playa Haters', 200, '1541207150796', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53),
 ('Taylor Swift', 'Logged In', 'Celeste', 'F', 3, 'Williams', 230.47791, 'free', 'Klamath Falls, OR', 'PUT', 'NextSong', 1541077528796.0, 52, 'You Belong With Me', 200, '1541207316796', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53),
 ('Amy Winehouse', 'Logged In', 'Celeste', 'F', 4, 'Williams', 229.85098, 'free', 'Klamath Falls, OR', 'PUT', 'NextSong', 1541077528796.0, 52, 'Valerie', 200, '1541207546796', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53)]

In [15]:
%%sql
SELECT * FROM staging_songs
LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('SOIGICF12A8C141BC5', None, 'Game & Watch', 'Son Kite', None, 2004, 580.54485, 'AREWD471187FB49873', None, ''),
 ('SOHOZBI12A8C132E3C', None, 'Smash It Up', 'International Noise Conspiracy', None, 2000, 195.39546, 'AR0MWD61187B9B2B12', None, ''),
 ('SONHGLD12AB0188D47', None, 'Our Father', 'Anthony B', None, 1999, 202.4224, 'AR1S3NH1187B98C2BC', None, 'Clarks Town, Jamaica'),
 ('SOBBUGU12A8C13E95D', None, 'Setting Fire to Sleeping Giants', 'The Dillinger Escape Plan', 40.82624, 2004, 207.77751, 'ARMAC4T1187FB3FA4C', -74.47995, 'Morris Plains, NJ'),
 ('SOAFBKM12AB01837A7', None, 'Brain Dead', 'Anal Cunt', None, 1995, 94.22322, 'ARL14X91187FB4CF14', None, '')]

In [16]:
%%sql
SELECT COUNT(*) FROM staging_songs;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

## Artists Table

In [17]:
%%sql
TRUNCATE TABLE ARTISTS;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [18]:
print(artist_table_insert)

INSERT INTO artists (artist_id, name, location, latitude, longitude)
    SELECT DISTINCT(artist_id), artist_name, artist_location, artist_latitude, artist_longitude
    FROM staging_songs;

In [19]:
%sql $artist_table_insert

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
10025 rows affected.

[]

In [20]:
%%sql
SELECT COUNT(*) FROM artists;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(10025,)]

In [21]:
%%sql
SELECT COUNT(DISTINCT(artist_id)) FROM artists;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(9553,)]

In [22]:
%%sql
SELECT COUNT(*) FROM artists;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(10025,)]

In [23]:
%%sql
SELECT DISTINCT(artist_id) from artists
limit 5;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('AR00DG71187B9B7FCB',),
 ('AR01IP11187B9AF5D2',),
 ('AR02IU11187FB513F2',),
 ('AR02T3I1187FB4D0E5',),
 ('AR03ESE1187B992BC5',)]

In [24]:
%%sql
SELECT DISTINCT (artist_id) , artist_name
    FROM staging_songs
    GROUP BY ts;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
(psycopg2.ProgrammingError) column "ts" does not exist in staging_songs
 [SQL: 'SELECT DISTINCT (artist_id) , artist_name\n    FROM staging_songs\n    GROUP BY ts;']

In [25]:
%%sql
SELECT COUNT(DISTINCT(artist_id)) FROM artists;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(9553,)]

## Songs Table

In [26]:
print(song_table_insert)

INSERT INTO songs (song_id, title, artist_id, year, duration)
    SELECT DISTINCT(song_id), title, s.artist_id, year, duration
    FROM staging_songs s
    JOIN artists a     ON (s.artist_name=a.name);

In [27]:
%sql $song_table_insert

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
14896 rows affected.

[]

In [28]:
%%sql
SELECT COUNT(*) FROM songs;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(104275,)]

In [29]:
%%sql
SELECT COUNT(DISTINCT(song_id)) FROM songs;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

## Time table

In [30]:
print(time_table_insert)

INSERT INTO time (start_time, hour, day, month, year, weekday)
SELECT date_add('ms',CAST(ts as BIGINT),'1970-01-01') as staged_date,
    EXTRACT(hour FROM staged_date),
    EXTRACT(day FROM staged_date),
    EXTRACT(month FROM staged_date),
    EXTRACT(year FROM staged_date),
    CASE WHEN EXTRACT(WEEKDAY FROM staged_date) IN (6,7) THEN true ELSE false END
FROM staging_events;

In [31]:
%sql $time_table_insert

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
8056 rows affected.

[]

In [32]:
%%sql
SELECT COUNT(*) FROM time
LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(17336,)]

## Users Table

In [33]:
%%sql
TRUNCATE users

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [34]:
print(user_table_insert)

INSERT INTO users (user_id, first_name, last_name, gender, level)
SELECT DISTINCT(user_id) as user_id, fist_name, last_name, gender, level
    FROM staging_events
    WHERE page ='NextSong'

In [35]:
%sql $user_table_insert

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
(psycopg2.ProgrammingError) column "user_id" does not exist in staging_events
 [SQL: "INSERT INTO users (user_id, first_name, last_name, gender, level)\nSELECT DISTINCT(user_id) as user_id, fist_name, last_name, gender, level\n    FROM staging_events\n    WHERE page ='NextSong'"]

In [36]:
%%sql
SELECT COUNT(DISTINCT(user_id)) FROM users;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(0,)]

## Songplays Table

In [37]:
%%sql
TRUNCATE songplays

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [38]:
print(songplay_table_insert)

INSERT INTO songplays ( start_time, user_id, level, song_id, artist_id, session_id, location, user_agent)
    SELECT DISTINCT TIMESTAMP 'epoch'+(st.ts/1000)*INTERVAL '1 second',
    CAST(st.userId as INT),
    st.level,
    s.song_id,
    s.artist_id,
    st.session_id,
    st.location,
    st.user_agent
FROM staging_events st
INNER JOIN staging_songs s ON s.title=st.song AND st.artist = s.artist_name
WHERE st.page = 'NextSong';

In [39]:
%sql $songplay_table_insert

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
(psycopg2.ProgrammingError) column st.session_id does not exist
 [SQL: "INSERT INTO songplays ( start_time, user_id, level, song_id, artist_id, session_id, location, user_agent)\n    SELECT DISTINCT TIMESTAMP 'epoch'+(st.ts/1000)*INTERVAL '1 second',\n    CAST(st.userId as INT),\n    st.level,\n    s.song_id,\n    s.artist_id,\n    st.session_id,\n    st.location,\n    st.user_agent\nFROM staging_events st \nINNER JOIN staging_songs s ON s.title=st.song AND st.artist = s.artist_name\nWHERE st.page = 'NextSong';"]

In [40]:
%%sql
select COUNT(*) from songplays;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(0,)]

In [41]:
%%sql
SELECT * FROM songplays;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
0 rows affected.

[]

## SELECT SELECT SELECT

In [24]:
%%sql
SELECT 'songplays' as title, COUNT(*) FROM songplays;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[('songplays', 4995)]

In [25]:
%%sql
SELECT 'users'     as title, COUNT(DISTINCT(user_id)) FROM users;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[('users', 96)]

In [26]:
%%sql
SELECT 'users'     as title, COUNT(*) FROM users;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[('users', 104)]

In [27]:
%%sql
SELECT 'time'      as title, COUNT(*) FROM time;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[('time', 8872)]

In [28]:
%%sql
SELECT 'time'      as title, COUNT(DISTINCT(start_time)) FROM time;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[('time', 8023)]

In [29]:
%%sql
SELECT 'songs'     as title, COUNT(*) FROM songs;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[('songs', 14896)]

In [30]:
%%sql
SELECT 'artists'   as title, COUNT(*) FROM artists;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[('artists', 10025)]

In [31]:
%%sql
SELECT COUNT(DISTINCT(artist_id)) FROM artists;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(9553,)]

In [32]:
%%sql
SELECT COUNT(DISTINCT(song_id)) FROM songs;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [33]:
%%sql
SELECT COUNT(*) FROM songs
    LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [34]:
%%sql
SELECT song_id, title, a.artist_id, year, duration 
    FROM staging_songs s
    JOIN artists a     ON (s.artist_name=a.name)
    LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('SOZZZES12AB018466B', 'Las 2:00', 'ARTEOIV11C8A417A4E', 0, 181.2371),
 ('SOSCFLW12AB01824FE', 'Ny Hjlte', 'AR98ZSW1187B98E82C', 2006, 201.1424),
 ('SOKXFPD12AB018BA1F', 'Beggarman Story', 'AR98ZSW1187B98E82C', 1992, 275.43465),
 ('SOABYIT12AB0183026', 'Vilda vindar', 'AR98ZSW1187B98E82C', 1985, 266.13506),
 ('SOAPAQT12AB017D7D4', 'Set Apart This Dream', 'ARCVKG01187B9B3273', 2009, 194.92526)]

In [35]:
%%sql
SELECT artist_id, COUNT(artist_id)
FROM artists
GROUP BY artist_id
HAVING COUNT(artist_id) > 1
limit 5;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('ARKC83D1187B9AB367', 3),
 ('AR52BRU1187FB4CEF1', 2),
 ('AREKO1L1187B997EFE', 2),
 ('AR4MMMF1187B99AB91', 2),
 ('ARJO8W91187B9AB734', 2)]

In [36]:
%%sql
SELECT song_id, COUNT(song_id)
FROM songs
GROUP BY song_id
HAVING COUNT(song_id)>1
limit 5;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
0 rows affected.

[]

In [37]:
%%sql
SELECT user_id, COUNT(user_id)
FROM users
GROUP BY user_id
HAVING COUNT(user_id)>1
limit 5;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('15', 2), ('16', 2), ('88', 2), ('49', 2), ('85', 2)]

In [38]:
%%sql
SELECT start_time, COUNT(start_time)
FROM time
GROUP BY start_time
HAVING COUNT(start_time)>1
limit 5;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(datetime.datetime(2018, 11, 1, 21, 1, 46, 796000), 2),
 (datetime.datetime(2018, 11, 5, 7, 48, 24, 796000), 3),
 (datetime.datetime(2018, 11, 5, 8, 50, 7, 796000), 3),
 (datetime.datetime(2018, 11, 5, 9, 30, 31, 796000), 3),
 (datetime.datetime(2018, 11, 5, 9, 35, 37, 796000), 3)]

In [39]:
%%sql
select * from users
LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('69', 'Anabelle', 'Simpson', 'F', 'free'),
 ('10', 'Sylvie', 'Cruz', 'F', 'free'),
 ('48', 'Marina', 'Sutton', 'F', 'free'),
 ('80', 'Tegan', 'Levine', 'F', 'free'),
 ('100', 'Adler', 'Barrera', 'M', 'free')]