In [1]:
import configparser
import boto3
import json
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

In [2]:

DWH_DB_USER       = config.get('CLUSTER','DB_USER')
DWH_DB_PASSWORD   = config.get('CLUSTER','DB_PASSWORD')
DWH_ENDPOINT      = config.get('CLUSTER','HOST')
DWH_PORT          = config.get('CLUSTER','DB_PORT')
DWH_DB            = config.get('CLUSTER','DB_NAME')
DWH_DB            = config.get('CLUSTER','DB_NAME')
ARN               = config.get("IAM_ROLE", "ARN")

In [3]:
%load_ext sql

In [4]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

# Practice Importing All The Tables

In [5]:
# Import all the SQL queries
from sql_queries import *

In [6]:
# Drop all the tables
for drop_query in drop_table_queries:
    print(drop_query)
    # %sql $drop_query

DROP TABLE  IF EXISTS staging_events;
DROP TABLE  IF EXISTS staging_songs;
DROP TABLE  IF EXISTS songplay;
DROP TABLE  IF EXISTS users;
DROP TABLE  IF EXISTS songs;
DROP TABLE  IF EXISTS artists;
DROP TABLE  IF EXISTS time;

In [7]:
for table_create_query in create_table_queries:
    # print(table_create_query)
    %sql $table_create_query

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

In [8]:
%%sql
TRUNCATE staging_songs;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [9]:
## Now to input the JSON into a table from S3 into Redshift

# Specific Inputs

# s3_insert_query_events = """
# COPY staging_events FROM 's3://udacity-dend/log_data/2018/11/2018-11-05-events.json' 
# iam_role '{}'
# format as json 'auto ignorecase';""".format(ARN)
# print(s3_insert_query)
# s3_insert_query_songs = """
# COPY staging_songs FROM 's3://udacity-dend/song_data/A/B/Q/TRABQTA128F148D048.json' 
# iam_role '{}'
# format as json 'auto';""".format(ARN)
# print(s3_insert_query)

In [10]:
# All Data
s3_insert_query_events = """
COPY staging_events FROM 's3://udacity-dend/log_data' 
iam_role '{}'
format as json 'auto ignorecase';""".format(ARN)
s3_insert_query_songs = """
COPY staging_songs FROM 's3://udacity-dend/song_data' 
iam_role '{}'
format as json 'auto';""".format(ARN)

In [ ]:
%sql $s3_insert_query_songs

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh

In [ ]:
%sql $s3_insert_query_events

In [ ]:
%%sql
SELECT COUNT(*) FROM staging_songs;

In [ ]:
%%sql
TRUNCATE staging_events;

In [ ]:
%sql $s3_insert_query

## Artists Table

In [ ]:
%%sql
TRUNCATE TABLE ARTISTS;

In [ ]:
print(artist_table_insert)

In [ ]:
%sql $artist_table_insert

In [ ]:
%%sql
SELECT COUNT(*) FROM artists;

In [ ]:
%%sql
SELECT COUNT(DISTINCT(artist_id)) FROM artists;

In [ ]:
%%sql
SELECT COUNT(*) FROM artists;

In [ ]:
%%sql
SELECT DISTINCT(artist_id) from artists
limit 5;

In [ ]:
%%sql
SELECT DISTINCT (artist_id) , artist_name
    FROM staging_songs
    GROUP BY ts;

In [ ]:
%%sql
SELECT COUNT(DISTINCT(artist_id)) FROM artists;

## Songs Table

In [24]:
print(song_table_insert)

INSERT INTO songs (song_id, title, artist_id, year, duration)
    SELECT DISTINCT(song_id), title, s.artist_id, year, duration
    FROM staging_songs s
    JOIN artists a     ON (s.artist_name=a.name);

In [25]:
%sql $song_table_insert

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[]

In [26]:
%%sql
SELECT COUNT(*) FROM songs;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(3,)]

In [27]:
%%sql
SELECT COUNT(DISTINCT(song_id)) FROM songs;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(1,)]

## Time table

In [28]:
print(time_table_insert)

INSERT INTO time (start_time, hour, day, month, year, weekday)
SELECT date_add('ms',CAST(ts as BIGINT),'1970-01-01') as staged_date,
    EXTRACT(hour FROM staged_date),
    EXTRACT(day FROM staged_date),
    EXTRACT(month FROM staged_date),
    EXTRACT(year FROM staged_date),
    CASE WHEN EXTRACT(WEEKDAY FROM staged_date) IN (6,7) THEN true ELSE false END
FROM staging_events;

In [29]:
%sql $time_table_insert

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
408 rows affected.

[]

In [30]:
%%sql
SELECT COUNT(*) FROM time
LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(1224,)]

## Users Table

In [31]:
%%sql
TRUNCATE users

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [32]:
print(user_table_insert)

INSERT INTO users (user_id, first_name, last_name, gender, level)
SELECT DISTINCT(user_id) as user_id, fist_name, last_name, gender, level
    FROM staging_events
    WHERE page ='NextSong'

In [33]:
%sql $user_table_insert

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
(psycopg2.ProgrammingError) column "fist_name" does not exist in staging_events
 [SQL: "INSERT INTO users (user_id, first_name, last_name, gender, level)\nSELECT DISTINCT(user_id) as user_id, fist_name, last_name, gender, level\n    FROM staging_events\n    WHERE page ='NextSong'"]

In [34]:
%%sql
SELECT COUNT(DISTINCT(user_id)) FROM users;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(0,)]

## Songplays Table

In [35]:
%%sql
TRUNCATE songplays

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [36]:
print(songplay_table_insert)

INSERT INTO songplays ( start_time, user_id, level, song_id, artist_id, session_id, location, user_agent)
    SELECT DISTINCT TIMESTAMP 'epoch'+(st.ts/1000)*INTERVAL '1 second',
    CAST(st.userId as INT),
    st.level,
    s.song_id,
    s.artist_id,
    st.session_id,
    st.location,
    st.user)agent
FROM staging_events st
INNER JOIN staging_songs s ON s.title=st.song AND st.artist = s.artist_name
WHERE st.page = 'NextSong';

In [37]:
%sql $songplay_table_insert

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
(psycopg2.ProgrammingError) syntax error at or near ")"
LINE 9:     st.user)agent
                   ^
 [SQL: "INSERT INTO songplays ( start_time, user_id, level, song_id, artist_id, session_id, location, user_agent)\n    SELECT DISTINCT TIMESTAMP 'epoch'+(st.ts/1000)*INTERVAL '1 second',\n    CAST(st.userId as INT),\n    st.level,\n    s.song_id,\n    s.artist_id,\n    st.session_id,\n    st.location,\n    st.user)agent\nFROM staging_events st \nINNER JOIN staging_songs s ON s.title=st.song AND st.artist = s.artist_name\nWHERE st.page = 'NextSong';"]

In [38]:
%%sql
select COUNT(*) from songplays;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(0,)]

In [39]:
%%sql
SELECT * FROM songplays;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
0 rows affected.

[]

## SELECT SELECT SELECT

In [40]:
%%sql
SELECT 'songplays' as title, COUNT(*) FROM songplays;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[('songplays', 0)]

In [41]:
%%sql
SELECT 'users'     as title, COUNT(DISTINCT(user_id)) FROM users;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[('users', 0)]

In [42]:
%%sql
SELECT 'users'     as title, COUNT(*) FROM users;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[('users', 0)]

In [43]:
%%sql
SELECT 'time'      as title, COUNT(*) FROM time;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[('time', 1224)]

In [44]:
%%sql
SELECT 'time'      as title, COUNT(DISTINCT(start_time)) FROM time;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[('time', 405)]

In [45]:
%%sql
SELECT 'songs'     as title, COUNT(*) FROM songs;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[('songs', 3)]

In [46]:
%%sql
SELECT 'artists'   as title, COUNT(*) FROM artists;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[('artists', 1)]

In [47]:
%%sql
SELECT COUNT(DISTINCT(artist_id)) FROM artists;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(1,)]

In [48]:
%%sql
SELECT COUNT(DISTINCT(song_id)) FROM songs;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(1,)]

In [49]:
%%sql
SELECT COUNT(*) FROM songs
    LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(3,)]

In [50]:
%%sql
SELECT song_id, title, a.artist_id, year, duration 
    FROM staging_songs s
    JOIN artists a     ON (s.artist_name=a.name)
    LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[('SOJOVBQ12A6D4F96B6', 'A Heart Without A Home', 'ARSEMJF1187FB5641E', 2000, 230.1122)]

In [51]:
%%sql
SELECT artist_id, COUNT(artist_id)
FROM artists
GROUP BY artist_id
HAVING COUNT(artist_id) > 1
limit 5;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
0 rows affected.

[]

In [52]:
%%sql
SELECT song_id, COUNT(song_id)
FROM songs
GROUP BY song_id
HAVING COUNT(song_id)>1
limit 5;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[('SOJOVBQ12A6D4F96B6', 3)]

In [53]:
%%sql
SELECT user_id, COUNT(user_id)
FROM users
GROUP BY user_id
HAVING COUNT(user_id)>1
limit 5;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
0 rows affected.

[]

In [54]:
%%sql
SELECT start_time, COUNT(start_time)
FROM time
GROUP BY start_time
HAVING COUNT(start_time)>1
limit 5;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(datetime.datetime(2018, 11, 5, 2, 38, 1, 796000), 3),
 (datetime.datetime(2018, 11, 5, 4, 36, 38, 796000), 3),
 (datetime.datetime(2018, 11, 5, 9, 51, 10, 796000), 3),
 (datetime.datetime(2018, 11, 5, 10, 3, 45, 796000), 3),
 (datetime.datetime(2018, 11, 5, 10, 29, 52, 796000), 3)]

In [55]:
%%sql
select * from users;

 * postgresql://dwhuser:***@dwhcluster.cexlscovpa8u.us-west-2.redshift.amazonaws.com:5439/dwh
0 rows affected.

[]